<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>org.msjs.servlet.PageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>*.msjs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ScriptServlet</servlet-name>
        <servlet-class>org.msjs.servlet.ScriptServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ScriptServlet</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CacheServlet</servlet-name>
        <servlet-class>org.msjs.servlet.CacheServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CacheServlet</servlet-name>
        <url-pattern>*.jc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>org.msjs.servlet.FileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/file/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>org.msjs.servlet.StatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReloadServlet</servlet-name>
        <servlet-class>org.msjs.servlet.ReloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReloadServlet</servlet-name>
        <url-pattern>/reload</url-pattern>
    </servlet-mapping>

    <!-- This allows us to create a single injector for all the servlets managed
         by the container -->
    <listener>
        <listener-class>
            org.msjs.servlet.ServletListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>*.msjs</url-pattern>
    </filter-mapping>

    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>

</web-app>
